body {
  font-family: "Roboto", "Helvetica", sans-serif; }
h1 {
  font-family: "EB Garamond", serif; }
input {
  font-size: 2em;
  color: #000; }
.btn {
  background-color: #eee;
  border: 1px solid #666;
  cursor: pointer;
  color: #532F8C; }
  .btn:hover {
    background: #ddd; }
.jumbotron {
  background: #532F8C;
  color: white;
  margin: 0; }
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; }
.jumbotron .small {
  font-size: .9em; }

.logo_background {
  padding: 0; }
.logo_background label, .logo_background input {
    display: inline-block; }
.logo_background input[type="radio"] {
    opacity: 0.011;
    z-index: 100; }
.logo_background input[type="radio"]:checked + label {
    background: #aaa; }
