<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

    <script>
    var width = 500;
    var height = 250;
    var text_scaling = 0.88;
    var default_text = "helbling";

    function init() {
        var text = document.getElementById("text").value;
        if (text == "") {
            document.getElementById("text").value = default_text;
        }
        initCanvas();
        drawCanvas();
        document.getElementById("dl").addEventListener('click', dlCanvas, false);
    }

    function getCtx() {
        var c = document.getElementById("canvas");
        var ctx = c.getContext("2d");
        return ctx;
    }

    function clearCanvas(ctx) {
        ctx.fillStyle = "#ffffff";
        ctx.fillRect(0, 0, width*2, height*2);
    }

    function initCanvas() {
        ctx = getCtx();
        clearCanvas(ctx);

        // scale text (once only)
        ctx.scale(text_scaling, 1);
    }

    function drawLogo(ctx) {
        if (document.getElementById("b_wave").checked) {
            var img = new Image;
            img.onload = function(){ 
                ctx.drawImage(img, 5, 160); };
            img.src = "/images/wave.png";
        }
        else if (document.getElementById("b_cloud").checked) {
            var img = new Image;
            img.onload = function(){ 
                ctx.drawImage(img, 20, 160); };
            img.src = "/images/cloud_slim.png";
        }
        else {  // Bar
            ctx.fillStyle = "#007cc2";
            ctx.fillRect(20, 170, 246 / text_scaling, 25);
        }
    }

    function writeText(ctx) {
        var text = document.getElementById("text").value;
        ctx.fillStyle = "#000000";
        ctx.textBaseline = "alphabetic";
        ctx.font = "78px 'EB Garamond'";
        ctx.fillText(text, 157, 147);
    }

    function drawCanvas() {
        ctx = getCtx();
        clearCanvas(ctx);
        drawLogo(ctx);
        writeText(ctx);
    }

    /* Register download handler */
    /* Source: https://stackoverflow.com/questions/12796513/html5-canvas-to-png-file#12796748 */
    function dlCanvas() {
      var dt = canvas.toDataURL('image/png');
      dt = dt.replace(/^data:image\/[^;]*/, 'data:application/octet-stream');
      dt = dt.replace(/^data:application\/octet-stream/, 'data:application/octet-stream;headers=Content-Disposition%3A%20attachment%3B%20filename=Canvas.png');
      this.href = dt;
    };

    </script>
</head>

<body onLoad="init();">

<div class="jumbotron text-center">
  <div class="container">

    <h1>Helbling Logomat</h1>
    <p>Design your own logo.</p>
    <p><form id="logo_specs">
        <input type="text" value="<%= text %>" id="text" autofocus onkeyup="drawCanvas()" onFocus="this.select()" />
        <br />
        <p class="logo_background">
            <input type="radio" value="Bar" name="background" id="b1" checked="checked" onChange="drawCanvas()" />
            <label for="b1" class="btn">Bar &nbsp;<img src="/images/bar.png" width="20px" height="6px"></label>
            <input type="radio" value="Wave" name="background" id="b_wave" onChange="drawCanvas()" />
            <label for="b_wave" class="btn">Wave &nbsp;<img src="/images/wave.png" width="20px" height="10px"></label>
            <input type="radio" value="Cloud" name="background" id="b_cloud" onChange="drawCanvas()" />
            <label for="b_cloud" class="btn">Cloud &nbsp;<img src="/images/cloud_slim.png" width="20px" height="10px"></label>
        </p>
        <!-- <p class="logo_color">
            <span>Color: </span>
        </p> -->
    </form></p>

    <canvas id="canvas" width="500" height="250">
       <p>We apologize, your browser does not support canvas!</p>
    </canvas>

    <p><a class="btn" id="dl" download="logo.png" href="#">Download Logo</a></p>

  </div>

  <% include ../partials/footer.ejs %>

</div>

</body>
</html>
